.technologies-container {
  background-color: var(--welcome-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6rem;
}
.technologies-item {
  padding: 2rem;
  color: var(--header-color);
}
