/* Text box overview */
.text-section-container {
    display: flex;
    background-color: var(--welcome-color);
    color: var(--text-welcome-color);
    min-height: 40rem;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    font-family: 'Cormorant Garamond', serif;
}

/* Layout welcome phrase  */
.phrase-container {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phrase-author, .phrase {
    padding: 1rem;
    width: 100%;
}

.phrase {
    text-align: center;
}

.phrase-author {
    text-align: right;
    font-style:italic;
}

/* Layout myself text */
.myself-section-container {
    width: 95%;
}

.text-myself-container {
    font-size: 2rem;
    column-count: 2;
}

.keyword {
    font-style:oblique;
    font-weight: bold;
}

