.stamp {
  align-self: center;
  height: 100%;
}
.stamp-content {
  height: 100%;
  padding: 3rem;
}
.main-photo {
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.79);
}
.main-photo-content {
  height: 100%;
  padding: 2rem;
}

.main-photo-content:hover .main-photo {
  height: 110%;
  transition: .5s;
}

.main-photo-content:not(:hover) .main-photo {
  transition: .5s;
}

.main-photo-content:hover + .hidden-information-containes{
  background-color: #efefef;
  height: 18rem;    
  margin-left: 33rem;
  transition: .5s;
  opacity: 1;
  visibility: visible;
}




